{% extends '::index.html.twig' %}
{% block contenido %}
    <div class="col-lg-12">
        <h1 class="page-header">Nuevo Trabajo</h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form role="form">
                <div class="form-group">
                    <label>Título del Trabajo:</label>
                    <input id="dtitulo" name="dtitulo" class="form-control">
                    <p class="help-block">Máximo 200 caracteres</p>
                </div>
                <div class="form-group">
                    <label>Concepto:</label>
                    <input id="dconcepto" name="dconcepto" class="form-control">
                    <p class="help-block">Máximo 50 caracteres</p>
                </div>
                <div class="form-group col-lg-4">
                    <label>Fecha Graduación:</label>
                    <input id="dfechaGrado" name="dfechaGrado" class="form-control">
                    <p class="help-block">AAAA-MM-DD</p>
                </div>
                <div class="form-group col-lg-3">
                    <label>Carrera:</label>
                    <select id="dcarrera" class="form-control">
                        {% for carrera in carreras %}
                            <option value="{{ carrera.idCarrera }}">{{ carrera.nombreCarrera }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label>Clasificación:</label>
                    <select id="dclasificacion" class="form-control">
                        {% for infoc in clasificacion %}
                            <option value="{{ infoc.id }}">{{ infoc.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <label>Autores:</label>
                </div>
                <div id="autoresAgregados" class="form-group col-lg-12"></div>
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <input id="textAutorTrabajo" name="textAutorTrabajo" type="text" class="form-control" placeholder="Buscar autores del trabajo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="accion.buscarAutor()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div id="resultAutores">                      
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label>Asesor:</label>
                </div>
                <div id="asesoresAgregados" class="form-group col-lg-12"></div>
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <input id="textAsesorTrabajo" name="textAsesorTrabajo" type="text" class="form-control" placeholder="Buscar autores del trabajo">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="accion.buscarAsesor()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div id="resultAsesores">                      
                    </div>
                </div>
            </form>
            <div class="form-group col-lg-12">
                <a class="btn btn-primary" href="javascript:accion.crearTrabajo()">Aceptar</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptModulo %}
    <script>
        var accion = {
            autores:{},
            asesores:{},
            buscar: function(){
                $('#areaContenido').html('Buscando...')
                $('#areaContenido').load('{{ path("udec_app_trabajos_buscar") }}',{acc:'buscar',txtkey:$('#buscador').val()});
            },
            buscarAutor: function(){
                var buscar = $('#textAutorTrabajo').val();
                $('#resultAutores').html('Buscando...');
                $('#resultAutores').load('{{ path("udec_app_personas_buscar") }}',{acc:'buscarAutor',texto:buscar});
            },
            agregarAutor: function(idPersona){
                var htmlPersona = $('#infoItemAutor'+idPersona).val();
                accion.autores[idPersona]={id:idPersona,nombre:htmlPersona};
                $('#resultAutores').html('');
                accion.listarAutores();
            },
            quitarAutor: function(idPersona){
                delete accion.autores[idPersona];
                accion.listarAutores();
            },      
            listarAutores:function(){
                $('#autoresAgregados').html('');
                $.each(accion.autores,function(inx,vlr){
                    $('#autoresAgregados').append('[<i class="fa fa-user"></i> '+vlr.nombre+' <a href="javascript:accion.quitarAutor(\''+vlr.id+'\')"><i class="fa fa-close"></i></a>] ');
                });
            },
            buscarAsesor:function(){
                var buscar = $('#textAsesorTrabajo').val();
                $('#resultAsesores').html('Buscando...');
                $('#resultAsesores').load('{{ path("udec_app_personas_buscar") }}',{acc:'buscarAsesor',texto:buscar});
            },
            agregarAsesor: function(idPersona){
                var htmlPersona = $('#infoItemAsesor'+idPersona).val();
                accion.asesores[idPersona]={id:idPersona,nombre:htmlPersona,tipo:''};
                $('#resultAsesores').html('');
                accion.listarAsesores();
            },
            quitarAsesor: function(idPersona){
                delete accion.asesores[idPersona];
                accion.listarAsesores();
            },      
            listarAsesores:function(){
                $('#asesoresAgregados').html('');
                $.each(accion.asesores,function(inx,vlr){
                    $('#asesoresAgregados').append('[<i class="fa fa-user"></i> '+vlr.nombre+' <a href="javascript:accion.quitarAsesor(\''+vlr.id+'\')"><i class="fa fa-close"></i></a>] ');
                });
            },
            crearTrabajo:function(){
                var datos = {titulo:$('#dtitulo').val(),concepto:$('#dconcepto').val(),fechaGrado:$('#dfechaGrado').val(),carrera:$('#dcarrera').val(),clasificacion:$('#dclasificacion').val(),autores:accion.autores,asesores:accion.asesores};
                $.post('{{ path("udec_app_trabajos_crear") }}',{datos:datos},function(res){
                    try{
                        var data = JSON.parse(res);
                    }catch(e){
                        var data = {estado:false};
                    }
                    if(data.estado){
                        alert('enviar pantalla para adjuntar documentos');
                    }else{
                        alert('error al crear el trabajo');
                    }
                });
                
            }
        };
        $('#buscador').keypress(function(e){   
            if(e.which == 13){      
                accion.buscar();      
            }   
        });
    </script>
{% endblock %}